In [1]:
# Add the Pandas dependency
import pandas as pd

In [2]:
# File to load
ny_data_to_load = "NY_state.csv"

In [25]:
# Read the NY plant data and store it in a Pandas DataFrame
ny_data_df = pd.read_csv(ny_data_to_load)
ny_data_df.head()

,Symbol,Synonym Symbol,Scientific Name with Author,National Common Name,Family
0,JUAM,NaN,Justicia americana (L.) Vahl,American water-willow,Acanthaceae
1,JUAM,DIAM2,Dianthera americana L.,NaN,Acanthaceae
2,JUAM,DIAMS,Dianthera americana L. var. subcoriacea (Ferna...,NaN,Acanthaceae
3,JUAM,JUAMS,Justicia americana (L.) Vahl var. subcoriacea ...,NaN,Acanthaceae
4,JUAM,JUMO2,Justicia mortuifluminis Fernald,NaN,Acanthaceae

In [5]:
# Determine the amount of missing data in NY plant data.
# Missing data is expected in the Synonym Symbol and National Common Name columns.
ny_data_df.notnull().sum()

Symbol                         16351
Synonym Symbol                 10182
Scientific Name with Author    16351
National Common Name            6160
Family                         16351
dtype: int64

In [6]:
# Confirm that the data type is object for the DataFrame.
ny_data_df.dtypes

Symbol                         object
Synonym Symbol                 object
Scientific Name with Author    object
National Common Name           object
Family                         object
dtype: object

In [11]:
# Get the total rows of data.
plant_count = ny_data_df['Symbol'].count()
plant_count

16351

In [7]:
# Get the total numbers for Family.
family_count = len(ny_data_df["Family"].unique())
family_count

228

In [24]:
# Double checked from https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups
# Get the count for each Family represented and assign to a new DataFrame.
family_data = ny_data_df.Family.value_counts()
family_data.head()

Asteraceae    2057
Poaceae       1927
Rosaceae      1305
Cyperaceae    1016
Fabaceae       604
Name: Family, dtype: int64

In [23]:
# Get the percent each Family represents from total Plants
family_percentage = family_data/float(plant_count)*100
family_percentage.head(10)

Asteraceae          12.580270
Poaceae             11.785212
Rosaceae             7.981163
Cyperaceae           6.213687
Fabaceae             3.693964
Brassicaceae         2.862210
Scrophulariaceae     2.629809
Lamiaceae            2.440218
Caryophyllaceae      2.067152
Polygonaceae         2.024341
Name: Family, dtype: float64