In [26]:
# Add the Pandas dependency
import pandas as pd

In [27]:
# File to load
ny_data_to_load = "NY_state.csv"

In [28]:
# Read the NY plant data and store it in a Pandas DataFrame
ny_data_df = pd.read_csv(ny_data_to_load)
# ny_data_df.head()

In [29]:
# Determine the amount of missing data in NY plant data.
# Missing data is expected in the Synonym Symbol and National Common Name columns.
ny_data_df.notnull().sum()

Symbol                         16351
Synonym Symbol                 10182
Scientific Name with Author    16351
National Common Name            6160
Family                         16351
dtype: int64

In [30]:
# Confirm that the data type is object for the DataFrame.
ny_data_df.dtypes

Symbol                         object
Synonym Symbol                 object
Scientific Name with Author    object
National Common Name           object
Family                         object
dtype: object

In [31]:
# Get the total rows of data.
plant_count = ny_data_df['Symbol'].count()
plant_count

16351

In [32]:
# Get the total numbers for Family.
family_count = len(ny_data_df["Family"].unique())
# family_count

In [33]:
# Double checked from https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups
# Get the count for each Family represented and assign to a new DataFrame.
family_data = ny_data_df.Family.value_counts()
# family_data.head()

In [34]:
# Get the percent each Family represents from total Plants
family_percentage = family_data/float(plant_count)*100
# family_percentage.head(10)

In [35]:
# Get the Family information into a new DataFrame.
family_df = pd.DataFrame({"Count": family_data,
                         "Percentage of Plants": family_percentage})
# Format the Total School Budget and the Per Student Budget columns.
family_df["Percentage of Plants"] = family_df["Percentage of Plants"].map("{:,.2f}%".format)

family_df.head(10)

                  Count Percentage of Plants
Asteraceae         2057               12.58%
Poaceae            1927               11.79%
Rosaceae           1305                7.98%
Cyperaceae         1016                6.21%
Fabaceae            604                3.69%
Brassicaceae        468                2.86%
Scrophulariaceae    430                2.63%
Lamiaceae           399                2.44%
Caryophyllaceae     338                2.07%
Polygonaceae        331                2.02%